.slider{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.images{
    display: flex;
    width: 100%;
}

.images img{
    height: 480px;
    width: 100%;
    transition: all 0.15s ease;
}

.images input{
    display: none;
}

.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dots label{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid #2d3748 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 2px;
}

.dots label:hover{background: #2d3748;}

#image-01:checked ~ .m1{
    margin-left: 0;
}

#image-02:checked ~ .m2{
    margin-left: -100%;
}

.box:hover div img{
    transform: scale(1.1,1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.8;
}

.box div img{
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.image-wrapper:hover .member-action{
    bottom: 0;
    opacity: 1;
}

.member-action{
    position: absolute;
    bottom: -10;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.animate{
    transition: all 0.5s ease-in-out;
}
  